<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated finalStateMachine -->
      <package
            uri="http://www.example.org/finalStateMachine"
            class="finalStateMachine.FinalStateMachinePackage"
            genModel="model/finalStateMachine.genmodel"/>
   </extension>

</plugin>
